<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="thiefstyle.css">
    <title>dht11 sensor</title>
</head>
<div style="text-align: center;">
        <img src = "./static/thiefcam-logo.png" width="250" height="100"alt = logo>
</div>

<div>
    <button id = "more" type = "submit" value="submit" style="width:60px;height:30px;float: right;">
        더보기
    </button>
</div>
<div style="text-align: left; float:left;margin-right:20px;">
    <img src = "./static/gonghang.png" width="210" height="170">
</div>
<div style="text-align: left; float:left;">

    <img src = "./static/blackson.png" width="210" height="170">
</div>
<div class="footer height=70">
    <div class="footer_contents">
        <button id="delete" type="submit" value="submit" style="width:60px;height:30px;" >삭제</button>
    </div>
</div>
    <script src="{{url_for('static', filename='index.js')}}"></script>

</html>
