<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="thiefstyle.css">
    <title>thief cam</title>
</head>
<div class="logoimage">
    <button type="button" value="logo">
    <img src = "./static/thief.png"  width="250" height="100">
</button>
</div>
<div class="set">
    <div class="seemore">
        <img src="./static/seemore.png" width="90" height="60">
    </div>
    <div class ="more">
        <button type = "submit" value="submit">
            더보기
        </button>
    </div>
    <div class="image">
        <img src="./static/blackson.png" width="210" height="170">
   </div>
    </div>
   
</div>
<div class="thiefs">
    <img src="./static/thiefs.png">
</div>
<script src="{{url_for('static', filename='index.js')}}"></script>
</html>